<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 1. vo alias 등록 -->
	<typeAliases>
		<typeAlias alias="emp" type="springweb2.a01_mvc.z01_vo.Emp"/>
		<typeAlias alias="dept" type="springweb2.a01_mvc.z01_vo.Dept"/>
	</typeAliases>
	<!-- 2. XXXMapper.xml -->
	<mappers>
		<mapper resource="resource/EmpMapper.xml"/>
	</mappers>
</configuration>